@font-face {
    font-family: 'robotoblack';
    src: url('/SISCOV/assets/font/roboto/roboto-black-webfont.eot');
    src: url('/SISCOV/assets/font/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/SISCOV/assets/font/roboto/roboto-black-webfont.woff2') format('woff2'),
         url('/SISCOV/assets/font/roboto/roboto-black-webfont.woff') format('woff'),
         url('/SISCOV/assets/font/roboto/roboto-black-webfont.ttf') format('truetype'),
         url('/SISCOV/assets/font/roboto/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('/SISCOV/assets/font/roboto/roboto-bold-webfont.eot');
    src: url('/SISCOV/assets/font/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/SISCOV/assets/font/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('/SISCOV/assets/font/roboto/roboto-bold-webfont.woff') format('woff'),
         url('/SISCOV/assets/font/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('/SISCOV/assets/font/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('/SISCOV/assets/font/roboto/roboto-medium-webfont.eot');
    src: url('/SISCOV/assets/font/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/SISCOV/assets/font/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('/SISCOV/assets/font/roboto/roboto-medium-webfont.woff') format('woff'),
         url('/SISCOV/assets/font/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('/SISCOV/assets/font/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('/SISCOV/assets/font/roboto/roboto-regular-webfont.eot');
    src: url('/SISCOV/assets/font/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/SISCOV/assets/font/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('/SISCOV/assets/font/roboto/roboto-regular-webfont.woff') format('woff'),
         url('/SISCOV/assets/font/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('/SISCOV/assets/font/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background: url('/SISCOV/assets/images/back.jpg');*/
}
main {
    flex: 1 0 auto;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #253778;
    box-shadow: 0 1px 0 0 #253778;
}
.btn:hover, .btn-large:hover {
     background-color: #2AB0E6; 
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #2AB0E6;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}
.header{
    margin-top: 40px;
}
.centro p{
    margin-top: 20px;
    text-align: center;
    /* position: absolute;
    margin: 0 auto;*/
}
.cabecerafiltro{
    color: #616161;
    font-family: 'robotoblack';
}
/*.toast.error{
    //border-radius: 2px; 
    top: 0;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    //min-height: 48px; 
    line-height: 1.5em;
    word-break: break-all;
    font-family: 'robotoregular';
    background: rgba(233, 30, 30, 0.75);
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: white;
    box-shadow: -1px 1px 9px rgba(0,0,0,0.4);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}*/
.error{
    color: rgba(255, 150, 0, 0.91);
    font-size: 18px;
}
#name{
    font-size: 16px;
    letter-spacing: 1px;
}
#pass{
     letter-spacing: 4px;
}
.tableizer-table td {
    padding: 3px;
    margin: 3px;    
    font-size: 14px;
}
.tableizer-table th {
    text-align: center;
    /*background-color: none; */
    /*color: #FFF;*/
    font-weight: bold;
    font-size: 12px;
}
.tableizer-lastrow {
    text-align: center;
    background-color: #29b6f6 ; 
    color: #FFF;
    font-weight: bold;
}
table.striped.filtroo > tbody > tr:nth-child(odd){
    background-color: rgba(242, 242, 242, 0)!important;
}
.tableizer-Middelrow {
    text-align: center;
    background-color: #00695c; 
    color: #FFF;
    font-weight: bold;
}
.AnchoLineaTitulo{
    height: 10px;
}
ul>li {
    list-style-type:none;
    text-align:center;
}

ul>li>img{
    vertical-align: middle;
}
table.display tr.odd.row_selected td {
    background-color: #9FAFD1;
}
.numeric{
    text-align:center;
}
/*.images_line {
 }*/
.row.menu{
    margin-top: 2%;
}
#TblMaster tr:nth-child(even) {
    background-color: #CCCCCC;
     text-align: center;
}
#TblMaster tr:nth-child(odd) {
    background-color: #E6E6E6;
     text-align: center;
}
td,th{
     text-align: center;
}
#TblMaster thead tr th{
    background-color: #233778;
}
.regular{
    font-family: 'robotoregular'!important;
}
.bold{
 font-family: 'robotobold'!important;
}
.negra{
 font-family: 'robotoblack'!important;
}
.medium{
 font-family: 'robotomedium'!important;   
}
.tblcabecera{
     font-family: 'robotoblack'!important; 
    color: white;
}
.filtro{
   margin-left: 15%;       
}

#tbArticulos tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0);
     text-align: center;
}

#tbArticulos tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0);
     text-align: center;
}
#tbArticulos tr th {
background-color: #253778;
color: white;
font-family: 'robotoblack';
}
#tbArticulos tr td {
    padding: 1px;
    border-collapse: separate;
    border: 1px solid #28B1E7!important;
}
#tableabc tr td {
    padding: 1px;
    border-collapse: separate;
    border: 1px solid #28B1E7!important;
}
#tableabc tr th {
    border: 1px solid #28B1E7 !important;
}
#tbArticulos tr td input[type=number]{
   width: 75%;
   text-align: center;
}
#pdf tr th{
    background-color: #253778;
    color:white;
}
#pdf{
    border-collapse: collapse;
    border: 1px solid #28B1E7!important;
}
#pdf tr td {
    padding: 1px;
   border-collapse: collapse;
    border: 1px solid #28B1E7!important;
}
.modal.modalcontrato{
    width: 90%!important;
}
.modal#modalABC{
     width: 90%!important;
}
#tableabc, table.dataTable.no-footer{
    border-bottom: none!important;
}
.input-field label{position: static!important}
#tableabc{
    font-size: 12px!important;
}
#tableabc, table.dataTable thead th{
    padding: 1px 18px!important;
}
input[type=search]
{
    border-bottom: 1px solid #3e3939!important;
}
select
{
    border: 1px solid #3a3535!important;
}
#test5label{
        padding-left: 22px;
}
.nomostrar{
    display: none;
}
.mostrar{
    display: 'inline';
}
#modal1{
    width: 64%;
}
#tooltipIgnorar{
    color:#9e9e9e;
}
.cesia{
    background-color:#42CEFF;
}
.vivian{
    background-color: #9ff395;
}
.iconoalerta{
     width: 100%;
    height: 100%;
    background-color:red;
    overflow: overlay;
    line-height: 6;
    color: white;
}
.alertaAmarilla{
     width: 100%;
    height: 100%;
    background-color:#FF9801;
    overflow: overlay;
    line-height: 6;
    color: white;
}
.divalerta{
    /*margin-bottom: 20px;*/
    margin-top: 0px;
    margin-right: 5px;
}
.totales{
    width: 100%;
    height: 100%;
    /*background-color:#60ceff;*/
    overflow: overlay;
    line-height: 5;
}
.totales2{
    width: 100%;
    height: 100%;
    background-color:#2196f3;
    overflow: overlay;
    line-height: 5;
}
.INSTPRIV{
    width: 100%;
    height: 100%;
    background-color:#294BC4;
    overflow: overlay;
    line-height: 5;
    font-family: 'robotoblack';
}
.FPRIVADO{
    width: 100%;
    height: 100%;
    background-color:#7888C4;
    overflow: overlay;
    line-height: 5;
    font-family: 'robotoblack';
}
.INSTPUB{
    width: 100%;
    height: 100%;
    background-color:#7FC433;
    overflow: overlay;
    line-height: 5;  
    font-family: 'robotoblack';
}
#tblAlvaro tr td {
     padding: 1px;
    border-collapse: separate;
    border: 1px solid #28B1E7!important;
}